.container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: 100vh
  background-color: hsl(218, 23%, 16%)

.noscript
  text-align: center
  font-size: 0.65rem

.app
  display: flex
  flex-direction: column
  align-items: center

.hidden
  display: none
